
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

section{
  position: relative;

background-color: #373232;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: url('C:/Users/Admin/Desktop/oasis2/images/is.jpg')no-repeat;
  background-size: cover;
  background-position: center;


}



header{
  position: relative;
  top: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo{
  position: relative;
  color: rgb(235, 231, 227);
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}

header .navigation a{
  color: #df346a;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 2px 15px;
  border-radius: 25px;
transition: 0.2s;
transition-property: background;


}

header .navigation a:not(:last-child){
  margin-right: 30px;


}

header .navigation a:hover{
  background: #fff;


}
.content{
  max-width: 700px;
  margin: 60px 100px;


}
.content .info h2{
  color: #d8e2e9;
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 60px;
  margin-bottom: 30px;

}

.content .info p{
  color: #cf81b2;
font-size: 27px;
font-weight: 500;
margin-bottom: 40px;

  
}
 
.content .info-btn{
  color: #fff;
  background: #949293;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 7px;
}
.about{
  width: 100%;
  padding-left: 1px 0px;
  background-color: #202020;
  height: 600px;

}
.about-text{
  width: 550px;
  color: aquamarine;
  background-color:#202020;
}

.main{
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: left;
  justify-content: space-around;
  background-color: #202020;
}
.about-text h3{
  color: #fff;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
  background-color: #202020;
  
margin-bottom: 40px;

}
.about-text h4{
  color: aquamarine;
  font-size: 25px;
letter-spacing: 2px;
margin-bottom: 20px;
background-color:#202020;



}
.about-text p{
  color: #cf81b2;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
  background-color: #202020;

}
button{
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  border: 2ox solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}
button:hover {
  background-color: transparent;
  border: 2ox solid #f9004d;
  cursor: pointer;


}
.service{
  background-color: #181717;
  width: 100%;
  padding: 100px 0px;

}
.title h5{
  color: #fff;
  font-size: 75px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;

}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;

}

.card{
  height: 365px;
  width: 335px;
  padding: 20px 35px;
  background: #ecd7d7;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.card i{
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: #f9004d;

}
h6{
  color: rgb(47, 44, 44);
  font-size: 20px;
  margin-bottom: 15px;
}
.pra p{
  color: rgba(210, 128, 210, 0.8);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 25px;

}
.card .button{
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 22px ;
  border-radius: 30px;
  transition: 0.4s;

}
.card .button:hover{
  background-color: transparent;
  border: 2px solid #f9004d ;
  cursor: pointer;

  
}
.contact{
  width: 100%;
  height: 290px;
  background: #d19e9e;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contact p{
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;

}
.contact .button-one{
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 22px ;
  border-radius: 30px;
  transition: 0.4s;
  
  
}

.contact .button-one:hover{
  background-color: transparent;
  border: 2px solid #f9004d ;
  cursor: pointer;

}
footer{
  position: relative;
  width: 100%;
  height: 400px;
  background: #181717;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
footer p:nth-child(1){
  font-size: 30px;
  color: #fff;
  margin-bottom: 20px;
  font-weight: bolder;

}

footer p:nth-child(2){
  font-size: 17px;
  color: #fff;
text-align: center;
line-height: 26px;


  
  width: 500px;
}
.social{
  display: flex;

}
.social a{
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9004d;
  border-radius: 50%;
  margin: 22px 10px;

}

.imp{
  background-color: #373232;

}
  





